.banner{
  background-image: url("../images/home-header.png");
  height:787px;
  background-size: cover;
  background-repeat: no-repeat;
  .content_banner{
    color: #650300;
    text-align: right;
    padding-top: 296px;
    padding-bottom: 296px;
  }
  span{
    font-size: 36px;
  }
  p{
    font-size: 64px;
    margin-bottom: 4px;
  }
  a{
    font-size: 20px;
    color: #FFFFFF;
    background-color: #AA0601;
    padding:6px 12px 6px 12px;
    text-decoration: none;
  }
}

//SERVICE

.service{
  background-color: #FBF2F2;
}

.content_service{
  text-align: center;
  ul{
    display: flex;
    flex-wrap:wrap ;
  }
    .item{
      width:25%;
    }
  img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-bottom: 16px;
  }
  h2{
    font-size: 48px;
    color: #650300;
    margin-bottom: 24px;
  }
  h3{
    font-size: 24px;
    color: #650300;
    margin-bottom: 8px;
  }
  p{
    font-size: 16px;
    text-align: left;
  }
}
//classic

.classic_item{
  text-align: center;
  h2{
    font-size: 48px;
    color: #650300;
    margin-bottom: 24px;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
   
  }
  .item2{
    width: 33.33%;
  }
  img{
    width:416px;
    height: 416px;
  }
  a{
    font-size: 48px;
    color:#AA0601;
    text-decoration: none;
  }
}

//design

.design_product{
  background-image: url("../images/index-bg.png");
  text-align: center;
  h2{
    color: #FFFFFF;
    font-size: 48px;
    margin-bottom: 48px;
  }
  ul{
    display:flex;
    flex-wrap: wrap;
  }
    li{
      width:648px;
    }
  img{
    width: 648px;
    height: 240px;
    display: block;
  }
  a{
    color: #AA0601;
    font-size: 48px;
  }
  .title{
    background-color: #FFFFFF;
  }
}

//Recommend
.recommend{
  text-align: center;
  h2{
    font-size: 48px;
    color: #650300;
    margin-bottom: 24px;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
  }
    .item3{
      width: 306px;
      border: 1px solid #DEE2E6;
      border-radius: 4px 4px 0 0 ;
      box-shadow: 0 2px 6px #00000029;
    }
  p{
    font-size: 16px;
  }
  .comment{
    padding: 16px 16px 16px 16px;
  }
}

//Contact

.contact{
  background-color: #FBF2F2;
  .container{
    max-width: 636px;
    margin:0 auto;
    }
    .content_contact{
      width: 636px;
      padding-top: 80px;
      padding-bottom: 80px;
    }
    h2{
      font-size: 48px;
      color:#650300;
      text-align: center;
    }
    p{
      font-size: 20px;
    }
    input{
      width:636px;
      height:33px;
      font-size: 16px;
      background-color: #FBF2F2;
      border: 1px solid #000;
      margin-bottom: 16px;
    }
    textarea{
      width:636px;
      height:136px;
      font-size: 16px;
      background-color: #FBF2F2;
      border: 1px solid #000;
      margin-bottom: 16px;
    }
    .checkbox{
      width: 24px;
      height: 24px;
    }
  }

//RWD

@media (max-width: 720px) {
    .service .item{
      width:50% ;
    }
    .classic_product .item2{
      width:100%;
    }
    .design_product li{
      width: 100%;
    }
    .recommend .item3{
      width:25%;
      
    }
  }